protobuf==4.25.3
grpcio==1.59.3
grpc-stubs==1.53.0.5
types-protobuf==4.25.0.20240417

grpcio-tools==1.59.3
mypy-protobuf==3.6.0
openapi-pydantic==0.4.0
mypy==1.10.1
jinja2==3.1.4
pre-commit==3.7.1
black==24.4.2
